body {
    background-image: url("https://s1.static.brasilescola.uol.com.br/be/conteudo/images/a-matematica-apresenta-quatro-areas-estudo-5790d9dcd0b56.jpg");
    background-size: 1200px;
    filter: brightness(1.00);
    }

h1 {
    text-align:center;
    font-size: 37px;
}

input {
    text-align:center;
    background: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}

.container {
    text-align:center;
    font-size: 35px;
}
